# Things that should not be in version control---


# Python bytecode files
*.pyc

# local output
*.txt

# not ready yet:
pepify_text.py

# commit message files (thank you, Zack M. Davis!)
noprint.txt

